@charset "utf-8";
body  {
	color: black;
	/*
    background: url(http://www.guiasnintendo.com/0_background/background.jpg);
	background-position: top center;
	background-repeat: no-repeat;
	background-attachment: fixed;
    */
	font-size: 13px;
	/* 	background: #303646;*/
	margin: 0; /* es recomendable ajustar a cero el margen y el relleno del elemento body para lograr la compatibilidad con la configuracin predeterminada de los diversos navegadores */
	padding: 0;
	font-family: Arial, Helvetica, sans-serif;
    background: url(../images/catsearch.jpg);
	background-position: top center;
	background-repeat: no-repeat;
    background-attachment: fixed;
    /* background-size: auto 100%; */
}	
	



p             { font-size: 13px; font-family: Arial }
td            { font-size: 13px;
				font-family: Arial;
				text-align: center;	
				
}
tr td:nth-child(5), tr td:nth-child(6) {
	text-align: left; /* última y penúltima fila */
	padding-left: 10px;
}
a:link        { color: #00f; text-decoration: underline }
a:visited     { color: #800080; text-decoration: underline }
a:hover       { color: #f00; text-decoration: none }
.titulo  	  { color: #006400 ; font-weight: bold; font-style: italic; }
.blanco 	  { color: #FFF;}
.rojo	      { color: #ff0000;}
.naranja      { color: #d47911;}
.verde  	  { color: #006400;}
.azul  	      { color: #0000FF}
.azul2 	      { color: #0000a0}
.morado       {	color: #cc00ff}



	
 /*    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;*/

	.Colorestabla tr{background: #eeeeee;}
	/*  Define the background color for all the ODD background rows  */
	.Colorestabla tr:nth-child(odd){background: #dddddd;}
	/*  Define the background color for all the EVEN background rows  */
	.Colorestabla tr:nth-child(even){background: #FFFFFF;}


	.Colorestabla2 tr{background: #C8E0E6;}
	/*  Define the background color for all the ODD background rows  */
	.Colorestabla2 tr:nth-child(odd){background: #FFFFFF;}
	/*  Define the background color for all the EVEN background rows  */
	.Colorestabla2 tr:nth-child(even){background: #dddddd;}


#container {
	width: 1000px;
	margin: auto;
 	/*	background-color: #EBEBEB;*/
	position: relative;
	/* z-index: 1; */
    height: 100%;
	/*
    overflow: hidden;
    background-image: url(img/fondo_container.gif);
	box-shadow:0px 2px 5px #181818;
    */
}

#contenido {
	position: absolute;
	width: 745px;
	height: 100%;
    left: 13%;
    
	
	/*
	color: #000000;
	background-color: #FFFFFF;
	*/
}

#tablatitu {
	padding-top:0px;
	font-style:italic;
	color: #006400;
	font-weight: bold
}

table {
	width: 100%;
}



.clearfloat { /* esta clase debe colocarse en un elemento div o break y debe ser el ltimo elemento antes del cierre de un contenedor que deba incluir completamente a sus elementos flotantes hijos */
  clear: both;
  height: 0;
  font-size: 1px;
  line-height: 0px;
}

#imagen-peinados img {
	width: 100%;
}

/* BEGIN */
p {
    font-size: 18px;
}


.button {
    background-color: #4CAF50; /* Green */
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    font-family: Arial;
    font-weight: bold;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 8px;
    -moz-border-radius: 8px;
    -webkit-border-radius: 8px;
    -moz-box-shadow: 3px 4px 0px 0px rgba(134, 134, 134, 0.5);
    -webkit-box-shadow: 3px 4px 0px 0px rgba(134, 134, 134, 0.5);
    box-shadow: 3px 4px 0px 0px rgba(134, 134, 134, 0.5);


  }

 .button1 {
    background-color: rgb(83, 190, 87);
    -moz-box-shadow: 3px  4px 0px 0px #00AF50;
    -webkit-box-shadow: 3px  4px 0px 0px #00AF50;
    box-shadow: 3px 4px 0px 0px #00AF50;
    border: 1px solid rgb(0, 199, 90);
 }
 .button2 {
    background-color: #008CBA;
    -moz-box-shadow: 3px 4px 0px 0px rgb(0, 112, 150);
    -webkit-box-shadow: 3px 4px 0px 0px rgb(0, 112, 150);
    box-shadow: 3px 4px 0px 0px rgb(0, 112, 150);
    border: 1px solid rgb(0, 158, 211);
 }
 .button3 {
    background-color: #f44336;
 } 
 .button4 {
    background-color: #e7e7e7; 
    color: black;
 } 
 .button5 {
    background-color: #555555;
 } 

  /* END */


/* 100% Image Width on Smaller Screens */
/* @media only screen and (max-width: 700px) {

    body {
        background-size:  700px ;
    }
} */
.limiter {
    width: 1366px;
    margin: 0 auto;
    padding: 20px;
  }

tbody {
  font-size: 15px;
}
.tabla-bichos {
  display:none;
}


@media only screen and (max-width: 600px) {
	body {
	  background-color: lightblue;
	  color: blue;
	  background-size: 600px 100%;
	}
	#container {
		width: 100%;
	}
	#contenido {
		width: 100%; 
		left: 2.5vw;
	}
	#contenido p {
		font-size: 15px;
	}

	#imagen-peinados img {
		width: 100%;
	}

	.button {
		padding: 10px 19px;
		font-size: 20px;
	}
  }