body {
    font-family: Arial, Helvetica, sans-serif;
    background: url(../images/catsearch.jpg);
	background-position: top center;
	background-repeat: no-repeat;
    background-attachment: fixed;
    /* background-size: auto 100%; */
}

/* BEGIN */
p {
    font-size: 18px;
}
.tabla-bichos {
    display:none;
    z-index: 100;
}

.button {
    background-color: #4CAF50; /* Green */
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    font-family: Arial;
    font-weight: bold;
    margin: 20px 10px 40px 10px;
    cursor: pointer;
    border-radius: 8px;
    -moz-border-radius: 8px;
    -webkit-border-radius: 8px;
    /* box-shadow: 2.5px 2.5px 0px 0px rgba(134, 134, 134, 0.5); */

    -moz-box-shadow: 3px 4px 0px 0px rgba(134, 134, 134, 0.5);
    -webkit-box-shadow: 3px 4px 0px 0px rgba(134, 134, 134, 0.5);
    box-shadow: 3px 4px 0px 0px rgba(134, 134, 134, 0.5);
    /* border: 1px solid rgba(134, 134, 134, 0.5); */
    /* padding: 7px 25px; */
  }

 .button1 {
    background-color: rgb(83, 190, 87);
    -moz-box-shadow: 3px  4px 0px 0px #00AF50;
    -webkit-box-shadow: 3px  4px 0px 0px #00AF50;
    box-shadow: 3px 4px 0px 0px #00AF50;
    border: 1px solid rgb(0, 199, 90);
 }
 .button2 {
    background-color: #008CBA;
    -moz-box-shadow: 3px 4px 0px 0px rgb(0, 112, 150);
    -webkit-box-shadow: 3px 4px 0px 0px rgb(0, 112, 150);
    box-shadow: 3px 4px 0px 0px rgb(0, 112, 150);
    border: 1px solid rgb(0, 158, 211);
 }
 .button3 {
    background-color: #f44336;
 } 
 .button4 {
    background-color: #e7e7e7; 
    color: black;
 } 
 .button5 {
    background-color: #555555;
 } 

  /* END */

#myImg {
    border-radius: 5px;
    cursor: pointer;
    transition: 0.3s;
    
}

#myImg:hover {
    opacity: 0.7;
}

/* The Modal (background) */
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    padding-top: 100px; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.9); /* Black w/ opacity */
}

/* Modal Content (image) */
.modal-content {
    margin: auto;
    display: block;
    width: 80%;
    max-width: 700px;
}

/* Caption of Modal Image */
#caption {
    margin: auto;
    display: block;
    width: 80%;
    max-width: 700px;
    text-align: center;
    color: #ccc;
    padding: 10px 0;
    height: 150px;
}

/* Add Animation */
.modal-content, #caption {  
    -webkit-animation-name: zoom;
    -webkit-animation-duration: 0.6s;
    animation-name: zoom;
    animation-duration: 0.6s;
}

@-webkit-keyframes zoom {
    from {-webkit-transform:scale(0)} 
    to {-webkit-transform:scale(1)}
}

@keyframes zoom {
    from {transform:scale(0)} 
    to {transform:scale(1)}
}

/* The Close Button */
.close {
    position: absolute;
    top: 15px;
    right: 35px;
    color: #f1f1f1;
    font-size: 40px;
    font-weight: bold;
    transition: 0.3s;
}

.close:hover,
.close:focus {
    color: #bbb;
    text-decoration: none;
    cursor: pointer;
}

/* 100% Image Width on Smaller Screens */
@media only screen and (max-width: 700px) {
    .modal-content {
        width: 100%;
    }
    #container {
        width: 100%;
    }
    #contenido {
        width: 100%;

    }
    body {
        background-size: 700px 100%;
    }
}