body {
    font-family: Arial, Helvetica, sans-serif;
    background: url(../images/catsearch.jpg);
	background-position: top center;
	background-repeat: no-repeat;
    background-attachment: fixed;
    /* background-size: auto 100%; */
}

/* BEGIN */
p {
    font-size: 18px;
}


.button {
    background-color: #4CAF50; /* Green */
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    font-family: Arial;
    font-weight: bold;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 8px;
    -moz-border-radius: 8px;
    -webkit-border-radius: 8px;
    -moz-box-shadow: 3px 4px 0px 0px rgba(134, 134, 134, 0.5);
    -webkit-box-shadow: 3px 4px 0px 0px rgba(134, 134, 134, 0.5);
    box-shadow: 3px 4px 0px 0px rgba(134, 134, 134, 0.5);


  }

 .button1 {
    background-color: rgb(83, 190, 87);
    -moz-box-shadow: 3px  4px 0px 0px #00AF50;
    -webkit-box-shadow: 3px  4px 0px 0px #00AF50;
    box-shadow: 3px 4px 0px 0px #00AF50;
    border: 1px solid rgb(0, 199, 90);
 }
 .button2 {
    background-color: #008CBA;
    -moz-box-shadow: 3px 4px 0px 0px rgb(0, 112, 150);
    -webkit-box-shadow: 3px 4px 0px 0px rgb(0, 112, 150);
    box-shadow: 3px 4px 0px 0px rgb(0, 112, 150);
    border: 1px solid rgb(0, 158, 211);
 }
 .button3 {
    background-color: #f44336;
 } 
 .button4 {
    background-color: #e7e7e7; 
    color: black;
 } 
 .button5 {
    background-color: #555555;
 } 

  /* END */


/* 100% Image Width on Smaller Screens */
@media only screen and (max-width: 700px) {

    body {
        background-size: 100%;
    }
}
@media only screen and (max-width: 600px) {
	body {
	  background-color: lightblue;
	  color: blue;
	}
	#container {
		width: 100%;
	}
	#contenido {
		/* width: px; */
		 width: 400px; 
		left: 10px;
	}
	.button {
		padding: 7px 16px;
		font-size: 10px;
	}
  }